@import "../../assets/utilities/theme";

.root {
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	display: flex;
	gap: 16px;
	padding: 12px 0;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 32px;
		height: 80%;
		top: 60px;
		right: -28px;
		background-color: $colorFFFFFF;
	}
}

.dotIcon {
	background-color: rgba(157, 157, 161, 1);
}

.icon {
	height: 8px;
	width: 10.5px;
	background: transparent url('../../../src/assets/icons/Bed.svg') center no-repeat padding-box;
}