.root {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 32px;
	width: auto;
	gap: 10px;
	border-radius: 16px;
	font-weight: 600;
	border: 1px solid rgba(151, 151, 151, 0.3);
	padding: 0 12px;
	box-sizing: border-box;
	font-size: 15px;
	cursor: pointer;

	&:hover {
		background-color: #F8F8FC;
	}
}