@import "../../assets/utilities/theme";

$arrowTopMargin: 152px;
$arrowMargin: 15px;

.sectionWrapper {
	width: 100%;
	position: relative;
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.41px;
	text-align: start;
	color: $color000000;
}

.cardsContainer {
	width: 94%;
	position: relative;
	transform: translateX(0px);
	overflow: hidden;
}

.arrowButtonNext {
	position: absolute;
	top: $arrowTopMargin;
	right: $arrowMargin;
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.arrowButtonNextHide {
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.arrowButtonPrev {
	position: absolute;
	top: $arrowTopMargin;
	left: $arrowMargin;
	z-index: 10;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	cursor: default;
	pointer-events: none;
}

.arrwButtonPrevShow {
	opacity: 1;
	cursor: pointer;
	pointer-events: auto;
}

.cards {
	display: flex;
	gap: 16px;
	margin-top: 32px;
}