.root {
	width: 122px;
	position: absolute;
	background-color: rgba(136, 136, 136, 0.3);
	right: 43px;
	bottom: 9px;
	color: rgba(255, 255, 255, 1);

	&:hover {
		background-color: rgba(136, 136, 136, 0.5);
	}
}

.icon {
	background: transparent url('../../../src/assets/icons/All_Photos.svg') center no-repeat padding-box;
	height: 13px;
	width: 13px;
}