@import "../../assets/utilities/variables";

.root {
	width: $width;
	height: 292px;
	box-sizing: border-box;
	padding: 0 32px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4px;
	position: relative;
}

.wrapper {
	width: calc($width - 32px - 32px);
	height: 292px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4px;
	border-radius: 26px;
	overflow: hidden;
}

.firstElem {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}