@import "../../assets/utilities/theme";

.root {
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	display: flex;
	gap: 16px;
	padding: 12px 0;
	border: 1px solid darkred;
}

.dotWrapper {
	margin-top: 4px;
}

.sectionWrapper {
	width: 100%;
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.41px;
	text-align: start;
	color: $color000000;
}

.cards {
	display: flex;
	gap: 16px;
	margin-top: 24px;

}