@import "../../assets/utilities/theme";

$arrowTopMargin: 152px;
$arrowMargin: 15px;

.root {
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	display: flex;
	gap: 16px;
	padding: 12px 0;
	position: relative;

	opacity: 1;
	height: auto;
	transition: all 0.4s ease 0s;

	&::after {
		content: '';
		position: absolute;
		width: 32px;
		height: 80%;
		top: 60px;
		right: -28px;
		background-color: $colorFFFFFF;
	}
}

.hide {
	opacity: 0;
	min-height: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.dotWrapper {
	margin-top: 4px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 99%;
		top: 27px;
		right: 11px;
		background-color: rgba(60, 60, 67, 0.18);
	}
}

.dotIcon {
	background-color: rgba(157, 157, 161, 1);
}

.icon {
	height: 12.5px;
	width: 12.5px;
	background: transparent url('../../../src/assets/icons/Sparkle.svg') center no-repeat padding-box;
}