@import "../../assets/utilities/theme";

.root {
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	display: flex;
	gap: 16px;
	padding: 12px 0;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 32px;
		height: 80%;
		top: 60px;
		right: -28px;
		background-color: $colorFFFFFF;
	}
}

.dotWrapper {
	margin-top: 4px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 99%;
		top: 27px;
		right: 11px;
		background-color: rgba(60, 60, 67, 0.18);
	}
}

.sectionWrapper {
	width: 100%;
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.41px;
	text-align: start;
	color: $color000000;
}

.cards {
	display: flex;
	gap: 16px;
	margin-top: 24px;

}

.dotIcon {
	background-color: rgba(157, 157, 161, 1);
}

.icon {
	height: 12.5px;
	width: 12.5px;
	background: transparent url('../../../src/assets/icons/Sparkle.svg') center no-repeat padding-box;
}