@import "../../assets/utilities/variables";


.icon {
	height: 32px;
	width: 32px;
	background: transparent url('../../../src/assets/icons/Save_button.svg') center no-repeat padding-box;
	cursor: pointer;
}

.iconActive {
	background: transparent url('../../../src/assets/icons/Add_to_wishlist_active.svg') center no-repeat padding-box;

}