@import "../../assets/utilities/variables";

.root {
	width: $width;
	height: 188px;
	padding: 24px 32px;
	box-sizing: border-box;
}

.title {
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.35px;
	text-align: start;
	margin-bottom: 20px;
}